.incubator-text {
	text-align: center;
}

.incubator-container {
	margin-top: 10px;
}

.incubator-block{
	/*width: 20%;*/
	float: left;
	height: auto;
	margin: 10px;
}

#body-container{
	margin-left: 0;
	padding-left: 0;
}

.iSearch{
	padding-left: 0;
}

.input-block{
	margin-bottom: 50px;
}

.input-box{
	padding-left: 0;
}

.cinput-box{
	padding-top: 7px;
}

#right-container-block{
	margin-left:140px;margin-top: 40px;
}
