<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>incubator details</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/incubator/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/css/all.css"/>
    <link rel="stylesheet" href="/static/css/incubator.css"/>
    <link rel="stylesheet" href="/static/css/incubator/navbar.css"/>
    <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>
    <noscript>
        <link rel="stylesheet" href="/static/css/incubator/noscript.css"/>
    </noscript>

</head>
<!-- NAVBAR
================================================== -->

<body>

<script type="text/javascript">
    $(function() {
        var xaixs={{ Mtimes|safe }};
        console.log("测试time");
        {#console.log({{ Mtimes }});#}
        $('#container').highcharts({

    title: {
        text: '温度'
    },
            xAxis:{
        categories: xaixs
            },
    yAxis: {
        title: {
            text: 'temperature'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    series: [{
        name: 'Temp',
        data: {{ Mtemperatures }}
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
    });

</script>

<div id="top-container">
    <!--
        作者：1758522370@qq.com
        时间：2018-10-06
        描述：标头
    -->
    <h2 style="color: transparent;
       background-color : black;
       text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
       -webkit-background-clip : text;">智药 zhiyao.com</h2>

</div>
<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
<nav class="navbar navbar-light " role="navigation" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"> 智药 </a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">商城</a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        智库 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">jmeter</a>
                        </li>
                        <li>
                            <a href="#">EJB</a>
                        </li>
                        <li>
                            <a href="#">Jasper Report</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">分离的链接</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">另一个分离的链接</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if request.session.is_login %}
                        <p>欢迎你，{{ request.session.userphone }}</p>
            {% endif %}
            <li>
                <a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
            </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
    </div>
</nav>
<div id="left-container">
    <div id="left-navbar">
        <ul class="nav nav-pills nav-stacked">
            <li class="word active">
                            <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-th-large"></span>培养箱</button>
            			</li>
            			<li class="word">
                            <form method="get" action="/getbbs/">
                                <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-comment"></span>论坛&nbsp;&nbsp;</button>
                            </form>
            			</li>
            			<li class="word">
                            <form method="get" action="/my/">
                                <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-user"></span>我的&nbsp;&nbsp;</button>
                            </form>
            			</li>
        </ul>
    </div>
</div>
{% if IisSucceed and  MisSucceed %}
    <div id="right-container">
        <nav id="nav" style="width:auto;">
            <ul>
                <li><a href="#viewChart" class="active">查看</a></li>
                <li><a href="#settingProperties">修改</a></li>
            </ul>
        </nav>

        <div id="main">
            <div class="container marketing " id="viewChart">

                <!--箱内属性展示  简单表示 -->
                <div class="row ">
                    <div class="col-lg-4 ">
                        <img class=" img " src="/static/img/slide0.jpg" width="240 " height="240 ">
                        <h2>远程查看</h2>

                        <a class="btn btn-default " href="viewDetail0.html " role="button ">View details &raquo;</a>
                        </p>
                    </div>
                    <div class="col-lg-4 ">
                        <h2>test</h2>
                        <div id="container"></div>
                    </div>
                    <div class="col-lg-4 ">
                        <img class=" img " src="/static/img/dashboard02.PNG " width="240 " height="240 ">
                        <h2>光照</h2>
                        <p>当前光照强度：{{ MlightIntensity }}</p>
                        <p>初始光照强度：{{ IlightIntensity }}</p>
                        <p>建议光照强度：</p>
                        <output value="10lux "></output>
                        <p>
                            <a class="btn btn-default " href="viewDetail0.html " role="button ">View details &raquo;</a>
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4 ">
                        <img class="img " src="/static/img/dashboard02.PNG " width="240 " height="240 ">
                        <h2>温度</h2>
                        <p>当前温度：{{ Mtemperature }}</p>
                        <p>初始温度：{{ Itemperature }}</p>
                        <p>建议温度：</p>
                        <output value="10lux "></output>
                        <p>
                            <a class="btn btn-default " href="viewDetail0.html " role="button ">View details &raquo;</a>
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4 ">
                        <img class="img " src="/static/img/dashboard02.PNG " width="240 " height="240 ">
                        <h2>湿度</h2>
                        <p>当前湿度：{{ Mhumidity }}</p>
                        <p>初始湿度：{{ Ihumidity }}</p>
                        <p>建议湿度：</p>
                        <output value="10lux "></output>
                        <p>
                            <a class="btn btn-default " href="viewDetail0.html " role="button ">View details &raquo;</a>
                        </p>
                    </div>
                    <div class="col-lg-4 ">
                        <img class="img " src="/static/img/dashboard02.PNG " width="240 " height="240 ">
                        <h2>压强</h2>
                        <p>当前压强：{{ Mpressure }}</p>
                        <p>初始压强：{{ Ipressure }}</p>
                        <p>建议压强：</p>
                        <output value="10lux "></output>
                        <p>
                            <a class="btn btn-default " href="viewDetail0.html " role="button ">View details &raquo;</a>
                        </p>

                    </div>

                    <div class="col-lg-4 ">
                        <img class=" img " src="/static/img/dashboard02.PNG " width="240 " height="240 ">
                        <h2>自定义</h2>
                        <p>
                            <a class="btn btn-default " href="viewDetail0.html " role="button ">View details &raquo;</a>
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>

                <!-- /.row -->
            </div>
            <div id="settingProperties">
                <h2>培养箱属性表单</h2>

                <form action="/alterenviroment/{{ request.session.incubatorid }}/" method="post">
                    {% csrf_token %}
                    <div class="table-responsive ">
                        <table class="table table-striped table-sm ">
                            <thead>
                            <tr>
                                <th>属性</th>
                                <th>当前值</th>
                                <th>初始值</th>
                                <th>建议值</th>
                                <th>自定义</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>光照强度</td>
                                <td>{{ MlightIntensity }}</td>
                                <td>{{ IlightIntensity }}</td>
                                <td>（建议光照）</td>
                                <td>
                                    <input class="form-control " type="text " id="pMedicine " name="AlightIntensity"
                                           style="margin-top=align-content: 20px; "/>
                                </td>
                            </tr>

                            <tr>
                                <td>温度</td>
                                <td>{{ Mtemperature }}</td>
                                <td>{{ Itemperature }}</td>
                                <td>（建议温度）</td>
                                <td>
                                    <input class="form-control " type="text " id="pMedicine " name="Atemperature"
                                           style="margin-top=align-content: 20px; "/>
                                </td>
                            </tr>
                            <tr>
                                <td>湿度</td>
                                <td>{{ Mhumidity }}</td>
                                <td>{{ Ihumidity }}</td>
                                <td>（建议湿度）</td>
                                <td>
                                    <input class="form-control " type="text " id="pMedicine " name="Ahumidity"
                                           style="margin-top=align-content: 20px; "/>
                                </td>
                            </tr>
                            <tr>
                                <td>压强</td>
                                <td>{{ Mpressure }}</td>
                                <td>{{ Ipressure }}</td>
                                <td>（建议压强）</td>
                                <td>
                                    <input class="form-control " type="text " id="pMedicine " name="Apressure"
                                           style="margin-top=align-content: 20px; "/>
                                </td>
                            </tr>
                            <tr>
                                <td>其他</td>
                                <td>222</td>
                                <td>212</td>
                                <td>223</td>
                                <td>
                                    <input class="form-control " type="text " id="pMedicine "
                                           style="margin-top=align-content: 20px; "/>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">提交修改</button>
                    <button type="button " class="btn btn-primary btn-lg "
                            onclick="javascrtpt:window.location.href='incubator.html' ">提交修改
                    </button>
                </form>

            </div>
        </div>
    </div>
{% endif %}
{% if not IisSucceed %}
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">
            &times;
        </a>
        <strong>抱歉</strong>这里出了点问题
    </div>
{% endif %}

<!--right-container-->
<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>


<script>
    // 当网页向下滑动 20px 出现"返回顶部" 按钮
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        console.log(121);
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("returnTop").style.display = "block";
        } else {
            document.getElementById("returnTop").style.display = "none";
        }
    }

    // 点击按钮，返回顶部
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

</body>

</html>