<!DOCTYPE html>
<html>

<!--
	作者：1758522370@qq.com
	时间：2018-10-06
	描述：只作为一个框架的模板，并不在真正的页面中显示
-->
	<head>
		<meta charset="utf-8">
		<title>index</title>
		<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/all.css" />
		<script src="jquery-3.3.1.js"></script>
		<!--<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>-->
		<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div id="top-container">
			<!--
            	作者：1758522370@qq.com
            	时间：2018-10-06
            	描述：标头
            -->
			<p>智药</p>
		</div>
		<div id="body-container" class="container" style="margin-left: 0; padding-left: 0;">
			<!--
            	container 类不可嵌套使用
            -->
			<div id="left-container" style="height: 1000px">
				<ul class="nav nav-pills nav-stacked">
					<li class="active word">
						<a href="incubator.html"><span class="glyphicon glyphicon-th-large"></span>培养箱</a>
					</li>
					<li class="word">
						<a href="bbs.html"><span class="glyphicon glyphicon-comment"></span>论坛&nbsp;&nbsp;</a>
					</li>
					<li class="word">
						<a href="my.html"><span class="glyphicon glyphicon-user"></span>我的&nbsp;&nbsp;</a>
					</li>
				</ul>
			</div>
			<div id="right-container">

			</div>
		</div>

		<div class="container" id="bottom-container">
			<!--
            	作者：1758522370@qq.com
            	时间：2018-10-06
            	描述：可为底部固定信息
            -->
		</div>

	</body>

</html>